obj/Debug/net8.0/MyIslandGame.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/MyIslandGame.csproj.AssemblyReference.cache
obj/Debug/net8.0/MyIslandGame.assets.cache
obj/Debug/net8.0/MyIslandGame.AssemblyInfoInputs.cache
obj/MyIslandGame.csproj.nuget.g.targets
obj/MyIslandGame.csproj.nuget.g.props
